Dockerfile.*
.git
node_modules
build
/coverage/
/coverage.json
/typechain/

# Hardhat files
/blockchain/cache
/blockchain/artifacts
/blockchain/contractsConfig/*.config.json

# Frontend files
/client/*.log
